#url {
    width: 25em;
}

#form {
    text-align: center;
    margin: 2em;
}

#logoutput {
    margin: 2em;
    white-space: pre-wrap;
    font-family: monospace;
}

#qobuz_urls {
    margin: 2em;
    text-align: center;
}

#logo {
    display: block;
    width: 100px;
    margin: auto;
}
