#url {
    width: 25em;
}

#form {
    text-align: center;
    margin: 2em;
}

.window {
    border-radius: 3px;
    background: #222;
    color: #fff;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 70%;
}

.window:before {
    content: ' ';
    display: block;
    height: 48px;
    background: #C6C6C6;
}

.window:after {
    content: '. . .';
    position: absolute;
    left: 12px;
    right: 0;
    top: -3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 96px;
    color: #fff;
    line-height: 0;
    letter-spacing: -12px;
}

.terminal {
    white-space: pre-wrap;
    margin: 20px;
    font-family: monospace;
    font-size: 16px;
    color: #22da26;
    overflow: hidden;
    animation: write-log 5s both;
}

#qobuz_urls {
    margin: 2em;
    text-align: center;
}

#logo {
    display: block;
    width: 100px;
    margin: auto;
}
